.home {
  min-height: 85vh;
}

header {
  background: rgb(21, 65, 77);
  height: 70vh;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  user-select: none;
  text-align: center;
  line-height: 0.8em;

  b {
    font-family: 'Fascinate', cursive;
    text-shadow: 0 0 6px rgba($color: #FFF, $alpha: .6);
  }
}

.imagen {
  width: 150px;
  img {
    width: 100%;
  }
}

.card {
  margin: 10px;
  line-height: .5em;
  .card-title {
    font-size: 1.4em;
    font-weight: 700;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  p{
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1em;
  }
}

@media (max-width: 360px) {
  header {
    font-size: 3em;
  }
}