<header class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col-sm-2 title">
      WebPage Test
    </div>
    <div class="col-sm-8">
      <ul class="menu">
        <li><a routerLink="/"><fa-icon [icon]="icon.faHome"></fa-icon> Home</a></li>
        <li><a routerLink="/gallery"><fa-icon [icon]="icon.faImages"></fa-icon> Gallery</a></li>
        <li><a routerLink="/about"><fa-icon [icon]="icon.faQuestion"></fa-icon> About</a></li>
        <li><label (click)="onClickOpenLogin()"><fa-icon [icon]="icon.faUser"></fa-icon> Login</label></li>
      </ul>
    </div>
    <div class="col-sm-2 search">
      <app-search></app-search>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="container-fluid">
  By <b>Andres Cardenas &copy;</b>
</footer>

<div #login id="login">
  <div class="bg" (click)="onClick()"></div>
  <app-login></app-login>
</div>