.login {
    width: 300px;
    min-height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.596);
    overflow: hidden;
    scroll-behavior: smooth;

    .contenedor {
        width: 600px;
        display: flex;
    }
    
    form{
        width: 300px;
        header {
            background: rgb(26, 81, 95);
            height: 35px;
            text-align: center;
            color: #FFF;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px 0 4 0;
            margin-bottom: 10px;

            .btn-login {
                background: rgb(160, 0, 0);
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 4px 0 0 0;

                &:hover {
                    background: rgb(116, 0, 0);
                }
            }
        }

        .logo {
            font-size: 3em;
            text-align: center;
            font-family: 'Fascinate', cursive;
            line-height: 1em;
            user-select: none;
            padding: 20px 0;
        }

        .form-group {
            margin: 0px 10px 10px;

            small {
                color: red;
                display: none;
            }
        }
    }
}

